{% extends "./base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/'%}"> 
{% endblock %}

{% block body %}

<title>Formulario</title>

    
<section>
    <div class="container">
        <h2>Datos del Remitente, Destinatario y Envío </h2>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="post" id="formulario" action="{% url 'iniciar_transaccion' %}">
            {% csrf_token %}
    
            <!-- Sección de datos del remitente -->
            <div id="remitenteFormulario">
                <h3>Datos del Remitente</h3>
                <div class="mb-3">
                    <label for="nombreRemitente" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombreRemitente" name="nombreRemitente" required>
                </div>
                <div class="mb-3">
                    <label for="rutRemitente" class="form-label">Rut</label>
                    <input type="text" class="form-control" id="rutRemitente" name="rutRemitente" required>
                </div>
                <div class="mb-3">
                    <label for="direccionRemitente" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="direccionRemitente" name="direccionRemitente" required>
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="Email" name="Email">
                </div>
                <div class="mb-3">
                    <label for="telefonoRemitente" class="form-label">Teléfono</label>
                    <input type="tel" class="form-control" id="telefonoRemitente" name="telefonoRemitente">
                </div>
    
                <button type="button" class="btn btn-primary" id="btnSiguienteRemitente">Siguiente</button>
            </div>
    
            <!-- Sección de datos del destinatario -->
            <div id="destinatarioFormulario" style="display:none;">
                <h3>Datos del Destinatario</h3>
                <div class="mb-3">
                    <label for="rutDestinatario" class="form-label">Rut</label>
                    <input type="text" class="form-control" id="rutDestinatario" name="rutDestinatario" required>
                </div>
                <div class="mb-3">
                    <label for="nombreDestinatario" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombreDestinatario" name="nombreDestinatario" required>
                </div>
                <div class="mb-3">
                    <label for="direccionDestinatario" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="direccionDestinatario" name="direccionDestinatario" required>
                </div>
                <div class="mb-3">
                    <label for="emailDestinatario" class="form-label">Email</label>
                    <input type="email" class="form-control" id="emailDestinatario" name="emailDestinatario">
                </div>
                <div class="mb-3">
                    <label for="region" class="form-label">Región</label>
                    <select class="form-select" id="region" name="region" onchange="obtenerComunas()">
                        <option value="" selected>Seleccione una región</option>
                        <!-- Aquí se generan dinámicamente las opciones de región -->
                        <option value="1">Arica y Parinacota</option>
                        <option value="2">Tarapacá</option>
                        <option value="3">Antofagasta</option>
                        <option value="4">Atacama</option>
                        <option value="5">Coquimbo</option>
                        <option value="6">Valparaíso</option>
                        <option value="7">Metropolitana de Santiago</option>
                        <option value="8">Libertador General Bernardo O'Higgins</option>
                        <option value="9">Maule</option>
                        <option value="10">Ñuble</option>
                        <option value="11">Biobío</option>
                        <option value="12">La Araucanía</option>
                        <option value="13">Los Ríos</option>
                        <option value="14">Los Lagos</option>
                        <option value="15">Aysén del General Carlos Ibáñez del Campo</option>
                        <option value="16">Magallanes y de la Antártica Chilena</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="comuna" class="form-label">Comuna</label>
                    <select class="form-select" id="comuna" name="comuna">
                        <option value="" selected>Seleccione una comuna</option>
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="telefonoDestinatario" class="form-label">Teléfono</label>
                    <input type="tel" class="form-control" id="telefonoDestinatario" name="telefonoDestinatario">
                </div>
                
                <button type="button" class="btn btn-primary" id="btnSiguienteDestinatario">Siguiente</button>
            </div>
    
            <!-- Sección de datos del envío -->
            <div id="envioFormulario" style="display:none;">
                <h3>Datos del Envío</h3>
                <div class="mb-3">
                    <label for="tipoPaquete" class="form-label">Tipo de Paquete</label>
                    <select class="form-select" id="tipoPaquete" name="tipoPaquete" required>
                        <option value="xs">XS</option>
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="tipoEnvio" class="form-label">Tipo de Envío</label>
                    <select class="form-select" id="tipoEnvio" name="tipoEnvio" required>
                        <option value="normal">Envío Normal</option>
                        <option value="express">Envío Express 24hrs</option>
                    </select>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="pagado" name="pagado">
                    <label for="pagado" class="form-check-label">Pagado</label>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="porPagar" name="porPagar">
                    <label for="porPagar" class="form-check-label">Por Pagar</label>
                </div>
                <button type="button" class="btn btn-primary" id="btnCalcular">Calcular Total</button>
                <div class="mb-3">
                    <label for="totalAmount" class="form-label">Total a Pagar</label>
                    <input type="text" class="form-control" id="totalAmount" name="totalAmount" readonly>
                </div>
                <input type="hidden" id="costoTotal" name="costoTotal"> <!-- Campo oculto para el costo total -->
                <button type="submit" class="btn btn-primary">Iniciar Transacción</button>

            </div>
        </form>
    <!-- <pre>{{ transacciones }}</pre> -->
    </div>
    <h1>Formulario de Pago</h1>
    <form method="post" action="{% url 'iniciar_transaccion_trans' %}">
        {% csrf_token %}
        <label for="amount">Monto:</label>
        <input type="number" id="amount" name="amount" required>
        <button type="submit">Pagar</button>
    </form>  
<!-- Sección para mostrar transacciones -->


<!-- <div class="mb-3">
    <label for="region" class="form-label">Región</label>
    <select class="form-select" id="region" name="region" onchange="obtenerComunas()">
        <option value="" selected>Seleccione una región</option>
        <option value="1">Arica y Parinacota</option>
        <option value="2">Tarapacá</option>
        <option value="3">Antofagasta</option>
        <option value="4">Atacama</option>
        <option value="5">Coquimbo</option>
        <option value="6">Valparaíso</option>
        <option value="7">Metropolitana de Santiago</option>
        <option value="8">Libertador General Bernardo O'Higgins</option>
        <option value="9">Maule</option>
        <option value="10">Ñuble</option>
        <option value="11">Biobío</option>
        <option value="12">La Araucanía</option>
        <option value="13">Los Ríos</option>
        <option value="14">Los Lagos</option>
        <option value="15">Aysén del General Carlos Ibáñez del Campo</option>
        <option value="16">Magallanes y de la Antártica Chilena</option>
    </select>
</div>
<div class="mb-3">
    <label for="comuna" class="form-label">Comuna</label>
    <select class="form-select" id="comuna" name="comuna">
        <option value="" selected>Seleccione una comuna</option>
    </select>
</div>


<h1>Formulario de Pago</h1>
    <form method="post" action="{% url 'iniciar_transaccion_trans' %}">
        {% csrf_token %}
        <label for="amount">Monto:</label>
        <input type="number" id="amount" name="amount" required>
        <button type="submit">Pagar</button>
    </form>  -->

    





    

</section>

<br><br><br><br><br><br>

{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/jquery/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/formulario.js' %}"></script>
  
    <script>
        $(document).ready(function() {
        $('#btnSiguienteRemitente').click(function() {
            $('#remitenteFormulario').hide();
            $('#destinatarioFormulario').show();
        });

        $('#btnSiguienteDestinatario').click(function() {
            $('#destinatarioFormulario').hide();
            $('#envioFormulario').show();
        });

        $('#btnCalcular').click(function() {
            var tipoPaquete = $('#tipoPaquete').val();
            var tipoEnvio = $('#tipoEnvio').val();
            var costo = 0;

            switch(tipoPaquete) {
                case 'xs': costo = 10; break;
                case 's': costo = 20; break;
                case 'm': costo = 30; break;
                case 'l': costo = 40; break;
                case 'xl': costo = 50; break;
            }

            if (tipoEnvio === 'express') costo += 15;

            $('#amount').val('$' + costo);
            $('#costoTotal').val(costo);
        });
    });
    </script>
{% endblock %}



<!-- <h1>Formulario de Pago</h1>
    <form method="post" action="{% url 'iniciar_transaccion' %}">
        {% csrf_token %}
        <label for="amount">Monto:</label>
        <input type="number" id="amount" name="amount" required>
        <button type="submit">Pagar</button>
    </form> -->





<!-- <div class="container">
        <h3>Agregar productos preuab</h3>
        <form id="agregarProductoForm" action="/agregarProductoForm" method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <label for="txtSku">SKU:</label>
                    <input name="txtSku" id="txtSku" type="text" class="form-control">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}   
                </div>
                
                <div class="col-md-8">
                    <label for="txtNombre">Nombre:</label>
                    <input name="txtNombre" id="txtNombre" type="text" class="form-control">
                </div>
    
                <div class="col-md-4">
                    <label for="txtStock">Stock:</label>
                    <input name="txtStock" id="txtStock" type="text" class="form-control">
                </div>
    
                <div class="col-md-4">
                    <label for="txtPrecio">Precio:</label>
                    <input name="txtPrecio" id="txtPrecio" type="text" class="form-control">
                </div>
    
                <div class="col-md-12">
                    <label for="txtDescripcion">Descripción:</label>
                    <input name="txtDescripcion" id="txtDescripcion" type="text" class="form-control">
                </div>
    
                <div class="col-md-12">
                    <label for="txtNota">Nota:</label>
                    <input name="txtNota" id="txtNota" type="text" class="form-control">
                </div>
    
                <div class="mb-3">
                    <label for="region" class="form-label">Región</label>
                    <select class="form-select" id="region" name="region" onchange="obtenerComunas()">
                        <option value="" selected>Seleccione una región</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="comuna" class="form-label">Comuna</label>
                    <select class="form-select" id="comuna" name="comuna">
                        <option value="" selected>Seleccione una comuna</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-success mt-5 w-100">Agregar producto</button>
        </form>
    </div>
     

    <div class="container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">SKU</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Nota</th>
                    <th scope="col">region</th>
                    <th scope="col">comula</th>

                </tr>
            </thead>
            <tbody>
                {% for p in prod %}
                <tr>
                    <th scope="row">{{ p.sku }}</th>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.stock }}</td>
                    <td>{{ p.precio }}</td>
                    <td>{{ p.descripcion }}</td>
                    <td>{{ p.nota }}</td>
                    <td>{{ p.region }}</td>
                    <td>{{ p.comuna }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <pre>{{ prod }}</pre>
<h1>Formulario de Pago</h1>
    <form method="post" action="{% url 'iniciar_transaccion' %}">
        {% csrf_token %}
        <label for="amount">Monto:</label>
        <input type="number" id="amount" name="amount" required>
        <button type="submit">Pagar</button>
    </form>  -->