{% extends "./base.html" %}


{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/'%}">
{% endblock %}

{% block body %}
<div class="transaction-details">
    <h1 style="text-align: center; margin-bottom: 20px;">Transacción Exitosa</h1>
    <p style="text-align: center;">La transacción se ha completado exitosamente.</p>
    
    <div style="max-width: 600px; margin: 0 auto;"> <!-- Centrar y limitar el ancho del contenido -->
        <h2 style="text-align:  margin-top 30px; margin-bottom: 10px;">Detalles:</h2>
        <ul style="list-style-type: none; padding: 0; text-align: left;">
            <li style="margin-bottom: 10px;"><strong>Orden de Compra:</strong> {{ response.buy_order }}</li>
            <li style="margin-bottom: 10px;"><strong>Monto:</strong> {{ response.amount }}</li>
            <li style="margin-bottom: 10px;"><strong>Fecha:</strong> {{ response.transaction_date }}</li>
            <li style="margin-bottom: 10px;"><strong>ID de Transacción:</strong> {{ transaccion.ID }}</li>
        </ul>
    </div>
</div>


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>br
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/jquery/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery/jquery.js' %}"></script>
{% endblock %}

